{% extends 'navbar.html' %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}

    
<form action="{% url 'login' %}" method="POST">
    {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <button>LogIn</button>
</form>


{% endblock %}